* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgb(0 0 0 / 18%) 0px 0px 8px 0px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 100px;
}
.form {
    padding-top: 40px;
}
.form h1{
    font-size: 24px;
    font-weight: 600;
    color: #feb9b9;
}
.form-login{
    padding: 20px 50px 0;
}
.form-login input{
    width: 300px;
    height: 40px;
    display: block;
    border: none;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.button--transparent{
    text-decoration: none;
    padding: 12px 48px;
    border-radius: 8px;
    margin-top: 40px;
    border: 2px solid #feb9b9;
    display: inline-block;
    color: black;
}

.wrapper{
    width: 100vw;
    margin: 0 auto;
    padding: 10px;
}
.search-bar{
    width: 100%;
    display: flex;
    border: 1px solid black;
}
.search-bar input{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.search-bar i {
    padding: 15px;
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 40px 0;
}
.title p{
    width: 25%;
    padding-left: 15px;
}
.tool{
    display: flex;
    border-radius: 5px;
    width: 100%;
}
.tool .addword{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.tool input{
    padding: 15px;
    width: 100%;
    outline: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: not-allowed;
}
.tool #input1{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.tool #input2{
    border-left: none;
    border-right: 1px solid black;
}
.tool #input3{
    border-left: none;
    border-right: 1px solid black;
}
.tool #input4{
    border-left: none;
    border-right: 1px solid black;
}
.words{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    flex: 1;
}
#input1 ~ .words{
    border-left: 1px solid black;
}
#input4 ~ .words{
    border-right: 2px solid black;
}
.word{
    width: 100%;
    padding-left: 15px;
}
.word p{
    font-size: 12px;
}

.quiz{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
}

.sentence-searched{
    width: 100%;
    margin-top: 40px;
}
.vietnamese {
    padding-top: 20px;
}
.sentencemargin {
    margin-top: 15px;
}
.sentence + .sentence {
    border-top: 1px solid rgba(0, 0, 0, 0.178);
    margin-top: 20px;
}
em {
    color: rgb(255, 154, 176);
    text-transform: uppercase;
    font-weight: bold;
}
