* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.25s linear;
}
a:hover {
  color: #7e4b7e;
}

ul {
  list-style: none;
}

.container {
  background-image: url("../images/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.container:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  border-bottom: 5px solid #7e4b7e;
  position: relative;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 8px;
}
.navbar-logo {
  width: 10%;
}
.navbar-logo img {
  width: 80%;
  display: block;
}
.navbar-content-list {
  display: flex;
}
.navbar-content-list-item a {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-content-list-item + .navbar-content-list-item {
  margin-left: 32px;
}

.main {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 600px;
}
.main-process {
  margin-top: 32px;
  width: 100%;
}
.main-process-list {
  display: flex;
}
.main-process-list-item {
  font-size: 1.6rem;
  background-color: #575756;
  text-align: center;
  width: 25%;
  color: black;
  position: relative;
  padding: 8px 0;
}
.main-process-list-item:not(:first-child):after {
  content: "";
  position: absolute;
  width: 9%;
  height: 100%;
  left: -8%;
  top: 0;
  background-color: #575756;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 90% 52%, 0% 0%);
}
.main-process-list-item.active {
  background-color: #7e4b7e;
  color: white;
}
.main-process-list-item.active:after {
  background-color: #7e4b7e;
}
.main-content {
  margin-top: 24px;
  border: 2px solid rgba(255, 255, 255, 0.301);
  padding: 16px;
}
.main-content-heading {
  text-align: center;
}
.main-content-heading h2 {
  font-size: 3rem;
}
.main-content-heading p {
  font-size: 2rem;
}
.main-content-rules {
  margin-top: 24px;
}
.main-content-rules-item ul li {
  font-size: 1.4rem;
}
.main-content-rules-item ul li + li {
  margin-top: 16px;
}
.main-content-rules-item ul a {
  font-size: 1.4rem;
  color: #6eb8e4;
  opacity: 0.6;
  text-decoration: underline;
  transition: opacity 0.25s linear;
}
.main-content-rules-item ul a:hover {
  opacity: 1;
}
.main-content-welcome {
  margin-top: 24px;
}
.main-content-welcome p {
  font-size: 1.4rem;
}
.main-content-register {
  margin-top: 24px;
}
.main-content-register-item label {
  font-size: 1.6rem;
  width: 30%;
  display: inline-block;
}
.main-content-register-item input {
  width: 69%;
  outline: none;
  font-size: 1.6rem;
  background-color: transparent;
  padding: 8px;
  color: white;
  border: 1px solid white;
}
.main-content-register-item input:focus {
  box-shadow: inset 0 1px 1px #6eb8e4, 0 0 8px #6eb8e4;
}
.main-content-register-item p {
  margin: 8px 0 8px 30%;
  font-size: 1.2rem;
}
.main-content-register-item span {
  font-size: 1.2rem;
  color: #ec8484;
}
.main-content-register-item:not(:first-child) {
  margin-top: 16px;
}
.main-content-register-item.error label {
  color: #ec8484;
}
.main-content-register-item.error input {
  border: 1px solid #ec8484;
}
.main-content-register-item.error .errormessage {
  color: #ec8484;
}
.main-content-gifts {
  display: flex;
  margin-top: 24px;
}
.main-content-gifts-item {
  width: 25%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 16px 0;
  opacity: 0.5;
  transition: opacity 0.25s linear;
}
.main-content-gifts-item img {
  width: 100%;
}
.main-content-gifts-item-name h6 {
  font-size: 2rem;
  color: black;
}
.main-content-gifts-item-name input {
  margin: 8px 0;
}
.main-content-gifts-item-name label {
  display: block;
  width: 100%;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.main-content-gifts-item:hover {
  opacity: 1;
}
.main-content-gifts-item + .main-content-gifts-item {
  margin-left: 8px;
}
.main-content-gifts-item.active {
  opacity: 1;
}
.main-content-finished {
  margin-top: 24px;
}
.main-content-finished p, .main-content-finished a {
  font-size: 1.6rem;
}
.main-content-finished a {
  text-decoration: underline;
  color: #6eb8e4;
  opacity: 0.6;
  transition: opacity 0.25s linear;
}
.main-content-finished a:hover {
  opacity: 1;
}
.main-content-finished p + p {
  margin-top: 8px;
}
.main-content-tool {
  text-align: center;
  margin-top: 24px;
}
.main-content-tool a {
  font-size: 2rem;
  padding: 8px 48px;
  background-color: transparent;
  border-radius: 30px;
  display: inline-block;
  border: 2px solid #7e4b7e;
  transition: all 0.5s linear;
  box-shadow: 0px 0px 5px #7e4b7e;
}
.main-content-tool a:hover {
  background-color: #7e4b7e;
  color: white;
}

.footer {
  border-top: 5px solid #7e4b7e;
  text-align: center;
  font-size: 3rem;
  padding: 32px 0;
  margin-top: 32px;
  position: relative;
  z-index: 1;
}
.footer-heading h2 {
  font-size: 4rem;
}
.footer-heading p {
  margin: 48px 0;
  font-size: 4rem;
  letter-spacing: 20px;
}
.footer-content ul {
  display: flex;
  justify-content: center;
}
.footer-content ul li a {
  font-size: 2rem;
  font-weight: bold;
}
.footer-content ul li + li {
  margin-left: 32px;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 34px 0;
  }

  .navbar {
    width: 90%;
  }

  .main {
    width: 90%;
  }
  .main-process {
    display: none;
  }
  .main-content {
    margin-top: 32px;
  }
  .main-content-gifts {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-content-gifts-item {
    width: calc(50% - 16px);
  }
  .main-content-gifts-item + .main-content-gifts-item {
    margin-left: 0;
  }
  .main-content-gifts-item:nth-of-type(even) {
    margin-left: 16px;
  }
  .main-content-gifts-item:nth-of-type(3), .main-content-gifts-item:nth-of-type(4) {
    margin-top: 16px;
  }

  .footer-heading p {
    letter-spacing: 0;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
