* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(to right, #141e30, #243b55);
}

.wrapper {
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.wrapper .heading {
  text-align: center;
  transform: translateY(120px);
  animation: moveUp 2s linear infinite, moveDown 2s linear infinite;
}

@keyframes moveUp {
  to {
    transform: translateY(50px);
  }
}
@keyframes moveDown {
  to {
    transform: translateY(120px);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.container .tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  position: relative;
}
.container .tabs .tab {
  width: 33.3333%;
  border-bottom: 5px solid transparent;
  transition: all 0.25s linear;
  opacity: 0.4;
  padding: 8px 0;
}
.container .tabs .tab .tab-heading {
  cursor: pointer;
  color: #3b7dd8;
}
.container .tabs .tab .tab-heading h2 {
  font-weight: 500;
}
.container .tabs .tab:hover {
  border-color: #8dbdff;
  opacity: 1;
}
.container .tabs .tab.active {
  opacity: 1;
}
.container .tabs .tab-line {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  height: 5px;
  background-color: #8dbdff;
  width: 0;
  transition: all 0.2s ease;
}
.container .content {
  padding: 16px;
  display: none;
}
.container .content .card-brand {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  text-align: center;
}
.container .content .card-brand .card {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 16px;
  margin-right: 8px;
  width: 135px;
  height: 55px;
  overflow: hidden;
}
.container .content .card-brand .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .content .card-info {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  border: 1px solid black;
  height: 100%;
}
.container .content .card-info .card-info-price {
  width: 70%;
  border-right: 1px solid #b1b1b1;
}
.container .content .card-info .card-info-price .price-container .price {
  padding: 4px 0;
  border-top: 1px solid #b1b1b1;
}
.container .content .card-info .card-info-coin {
  width: 30%;
}
.container .content .card-info .card-info-coin .coin-container .coin {
  padding: 4px 0;
  border-top: 1px solid #b1b1b1;
}
.container .content.active {
  display: flex;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.process,
.completed {
  width: 100%;
}
.process .information-table,
.completed .information-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.process .information-table td, .process .information-table th,
.completed .information-table td,
.completed .information-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.process .information-table th,
.completed .information-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #b3aa86;
  color: white;
}
.process .status-completed,
.completed .status-completed {
  color: green;
  font-weight: bold;
}
.process .status-pending,
.completed .status-pending {
  color: yellowgreen;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .heading {
    display: none;
  }

  .container {
    overflow: scroll;
    height: 90vh;
    width: 95%;
  }
  .container .tab-heading {
    font-size: 0.9rem;
  }
  .container .card-brand {
    width: 100% !important;
    padding: 16px 35px;
    justify-content: space-between;
  }

  .content.active {
    overflow: scroll;
    padding: 16px 0;
    flex-direction: column;
  }
  .content.active .card-info {
    margin-top: 16px;
    width: 90%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
