* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body{
    background-image: url('https://images.unsplash.com/photo-1528410913249-e10df222ab9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
}
input{
    outline: 0;
    border: none;
}
.container{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    overflow: hidden;
}
.form{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    &-container{
        margin: 0 auto;
        padding: 0 16px;
    
    }
    &-heading{
        color: #FD5F5F;
        font-size: 4rem;
        text-align: center;
        padding-top: 32px;
    }
    &-textfield1{
        width: 100%;
        display: flex;
        margin-top: 32px;
        .username,
        .email{
            width: 100%;
            position: relative;
            background-color: #f2f4ff;
            display: flex;
            align-items: center;
            border-radius: 5px;
            input{
                width: 50%;
                padding: 6px 12px;
                font-size: 1.2rem;
                background-color: transparent;
                flex: 1;
            }
            i {
                font-size: 1.4rem;
                color: rgba(0, 0, 0, 0.692);
                padding-left: 8px;
            }
            .line{
                content: '';
                position: absolute;
                background-color: rgb(0, 0, 0);
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                transition: all 0.5s linear;
                border-radius: 10px;
            }
            span {
                position: absolute;
                bottom: -20px;
                left: 0;
                font-size: 0.9rem;
                color: red;
            }
        }
        .username{
            margin-right: 18px;
            transform: translateX(-108%);
        }
        .email{
            transform: translateX(108%);
        }
    }
    &-textfield2{
        .password,
        .repeat-password{
            border-radius: 5px;
            width: 100%;
            position: relative;
            background-color: #f2f4ff;
            display: flex;
            align-items: center;
            span {
                position: absolute;
                bottom: -20px;
                left: 0;
                font-size: 0.9rem;
                color: red;
            }
            input {
                flex: 1;
                padding: 6px 12px;
                font-size: 1.2rem;
                background-color: transparent;
            }
            i {
                font-size: 1.4rem;
                color: rgba(0, 0, 0, 0.692);
                padding-left: 8px;
            }
            .line{
                content: '';
                position: absolute;
                background-color: rgb(0, 0, 0);
                width: 0;
                height: 1px;
                bottom: 0;
                left: 0;
                transition: all 0.5s linear;
                border-radius: 10px;
            }
            
        }
        .password{
            margin: 24px 0;
            transform: translateX(-108%);
        }
        .repeat-password{
            transform: translateX(108%);
        }
    }
    .action{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
        a {
            text-decoration: none;
            font-size: 1.2rem;
            color: rgb(255, 255, 255);
            background-image: linear-gradient(
              to right,
              #42275a,
              #734b6d
            );
        }
        button{
            outline: none;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            background-color: transparent;
            cursor: pointer;
            background-image: linear-gradient(
              to right,
              #de6262,
              #ffb88c
            );
            border: none;
            margin-right: 32px;
        }
        button:nth-of-type(2){
            background-image: linear-gradient(
              to right,
              #eacda3,
              #d6ae7b
            );
        }
    }
}
.button{
    padding: 8px 32px;
    border-radius: 5px;
}
.error {
    border: 1px solid red;
    ::placeholder{
        color: red;
    }
    i {
        color: red !important;
    }
}
.gifts{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.5s linear;
    align-items: center;
    padding: 0 16px;
    i {
        font-size: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 25px;
        opacity: 0.5;
        cursor: pointer;
        transition: all .25s linear;
    }
    i:hover{
        opacity: 1;
    }
    &.active{
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    &-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.205) 0px 2px 8px 0px;
        border-radius: 5px;
        width: 25%;
        text-align: center;
        img {
            width: 100%;
            object-fit: cover;
        }
        label{
            font-size: 1.6rem;
            width: 100%;
            display: block;
            color: #000;
        }
        label:nth-of-type(2){
            background-image: linear-gradient(
              to right,
              #D73350,
              #FC6F69
            );
            color: white;
            opacity: 0.7;
            border-radius: 0;
            cursor: pointer;
            transition: all .25s linear;
        }
        label:nth-of-type(2):hover{
            opacity: 1;
        }
    }
    &-card:not(.gifts-card:last-child){
        margin-right: 24px;
    }
}
@media only screen and (max-width: 600px) {
    .container{
        width: 90%;
    }
    .form-heading{
        font-size: 3rem;
    }
    .action{
        flex-direction: column;
        button {
            width: 100%;
            margin: 0 auto;
        }
        button:nth-of-type(2){
            margin: 16px 0;
        }
        a {
            width: 100%;
            text-align: center;
        }
    }
    .gifts{
        flex-wrap: wrap;
        height: auto;
        padding: 16px 48px;
        align-items: stretch;
        &-card{
            width: 50%;
            margin-right: 0 !important;
            label{
                margin-top: auto;
            }
            img {
                height: 50%;
            }
        }
        &-card:nth-of-type(3),
        &-card:nth-of-type(4){
            margin-top: 16px;
        }
        &-card:nth-of-type(2),
        &-card:nth-of-type(4){
            width: calc(50% - 16px);
            margin-left: 16px;
        }
        i{
            padding: 10px 16px;
        }
    }
  }

